In [5]:
f = open("subset_wikidata.txt", "r")

In [6]:
import re
import pandas as pd 
import requests

dataframe = pd.DataFrame()

counter = 0

while True:
    counter += 1
    line = f.readline()
    if not line:
        break
    line = line.strip()
    data = re.split(r'\t+', line)
    first_entity, relation, second_entity = data
    
    # Get first Entity information
    first_entity_url = "https://www.wikidata.org/wiki/Special:EntityData/{}.json".format(first_entity)
    second_entity_url = "https://www.wikidata.org/wiki/Special:EntityData/{}.json".format(second_entity)
    
    first_entity_response = requests.get(first_entity_url)
    second_entity_response = requests.get(second_entity_url)
    
    first_entity_data = first_entity_response.json()
    second_entity_data = second_entity_response.json()
    
    first_entity_label = first_entity_data["entities"][first_entity]["labels"]["en"]["value"]
    second_entity_label = second_entity_data["entities"][second_entity]["labels"]["en"]["value"]
    
    property_url = "https://www.wikidata.org/w/api.php?action=wbgetentities&ids={}&props=labels&format=json".format(relation)
    
    property_response = requests.get(property_url)
    
    property_data = property_response.json()
    
    property_label = property_data["entities"][relation]["labels"]["en"]["value"]
    
    data_append = {
        "first_entity": first_entity,
        "first_entity_label": first_entity_label,
        "relation": relation,
        "relation_label": property_label,
        "second_entity": second_entity,
        "second_entity_label": second_entity_label,
        "whole_text": f"{first_entity_label} {property_label} {second_entity_label}"
    }

    dataframe = dataframe.append(data_append, ignore_index=True)
    
    print(counter)

C:\Users\notal\AppData\Local\Temp\ipykernel_3024\1517664599.py:49: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  dataframe = dataframe.append(data_append, ignore_index=True)

1

C:\Users\notal\AppData\Local\Temp\ipykernel_3024\1517664599.py:49: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  dataframe = dataframe.append(data_append, ignore_index=True)

2

C:\Users\notal\AppData\Local\Temp\ipykernel_3024\1517664599.py:49: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  dataframe = dataframe.append(data_append, ignore_index=True)

3

C:\Users\notal\AppData\Local\Temp\ipykernel_3024\1517664599.py:49: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  dataframe = dataframe.append(data_append, ignore_index=True)

4

C:\Users\notal\AppData\Local\Temp\ipykernel_3024\1517664599.py:49: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  dataframe = dataframe.append(data_append, ignore_index=True)

5

C:\Users\notal\AppData\Local\Temp\ipykernel_3024\1517664599.py:49: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  dataframe = dataframe.append(data_append, ignore_index=True)

6
7

C:\Users\notal\AppData\Local\Temp\ipykernel_3024\1517664599.py:49: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  dataframe = dataframe.append(data_append, ignore_index=True)

In [10]:
dataframe

,first_entity,first_entity_label,relation,relation_label,second_entity,second_entity_label,whole_text
0,Q14946683,H. O. Davies,P31,instance of,Q5,human,H. O. Davies instance of human
1,Q14946683,H. O. Davies,P27,country of citizenship,Q1033,Nigeria,H. O. Davies country of citizenship Nigeria
2,Q14946683,H. O. Davies,P106,occupation,Q40348,lawyer,H. O. Davies occupation lawyer
3,Q14946683,H. O. Davies,P69,educated at,Q6410881,"King's College, Lagos","H. O. Davies educated at King's College, Lagos"
4,Q14946683,H. O. Davies,P734,family name,Q1177810,Davies,H. O. Davies family name Davies
5,Q14946683,H. O. Davies,P172,ethnic group,Q190168,Yoruba people,H. O. Davies ethnic group Yoruba people
6,Q14946683,H. O. Davies,P69,educated at,Q174570,London School of Economics and Political Science,H. O. Davies educated at London School of Econ...